@media only screen and (min-width: 0px) and (max-width: 560px) {
  .mainheader .logo h3 {
    font-family: "EB Garamond", serif;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: 2px;
    padding-left: 4px;
  }
  .desc {
    font-family: "EB Garamond", serif;
    font-size: 12px;
    top: 0px;
    white-space: nowrap;
  }
  .mainheader .btn{
    margin: 0%;
  }
  .mainheader .btn .loginbtn {
    margin: 0px;
    margin-right: 7rem;
  }
  .mainheader .btn .loginbtn button{
    padding:10px 15px ;
    font-size: x-small;
  }
  .menu-wrap{
    margin-left: 160px;
  }
.hamburger{
  left:-5.5rem;
}
.toggler{
  left:-5.5rem;
}
  .left-sec h1 {
    margin: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    white-space: nowrap;
    margin-bottom: 1rem;
  }
  .lgo-image img {
    margin-top: 4rem;
    margin-left: 5rem;
  }
  .lgo-image h2 {
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 20px;
  }
  .dog {
    opacity: 0;
    width: 250px;
    height: 200px;
    margin-left: 1.5rem;
  }
  .after-animation {
    margin-left: 1rem;
    margin-top: 15%;
  }
  .after-animation p {
    white-space: normal;
  }
  main .left-sec .btn {
    width: 80px;
    font-size: 10px;
    padding: 8px 4px;
  }
  .mid {
    display: block;
  }
  .right-sec {
    margin-top: 0rem;
  }
}
@media only screen and (min-width: 560px) and (max-width: 700px) {
  .mainheader .logo h3 {
    font-family: "EB Garamond", serif;
    font-size: 2rem;
    margin-top: 1rem;
  }
  .desc {
    font-family: "EB Garamond", serif;
    font-size: 1rem;
    top: 0px;
    white-space: nowrap;
  }
  .left-sec h1 {
    margin: 1rem;
    margin-left: 1rem;
    font-size: 2rem;
    white-space: nowrap;
    margin-bottom: 1rem;
  }
  .lgo-image img {
    margin-top: 10px;
    margin-left: 6rem;
  }
  .lgo-image h2 {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .dog {
    opacity: 0;
    width: 300px;
    height: 250px;
    margin-left: 2rem;
  }
  .after-animation {
    margin-left: 1rem;
    margin-top: 15%;
  }
  .after-animation p {
    white-space: normal;
  }
  main .left-sec .btn {
    width: 135px;
  }
  .mid {
    display: block;
  }
  .right-sec {
    margin-top: 0rem;
  }
}
@media only screen and (min-width: 700px) and (max-width: 910px) {
  .mainheader .logo h3 {
    font-family: "EB Garamond", serif;
    font-size: 2rem;
    margin-top: 2px;
  }
  .desc {
    font-family: "EB Garamond", serif;
    font-size: 1rem;
    top: 0px;
    white-space: nowrap;
  }
  .left-sec h1 {
    margin: 1rem;
    margin-left: 1rem;
    font-size: 3rem;
    white-space: nowrap;
    margin-bottom: 1rem;
  }
  .lgo-image img {
    margin-top: 10px;
    margin-left: 6rem;
  }
  .lgo-image h2 {
    margin-left: 1rem;
  }
  .dog {
    opacity: 0;
    width: 300px;
    height: 250px;
    margin-left: 2rem;
  }
  .after-animation {
    margin-left: 1rem;
    margin-top: 15%;
  }
  main .left-sec .btn {
    width: 150px;
  }
}
@media only screen and (min-width: 910px) and (max-width: 1250px) {
  .logo h3 {
    white-space: nowrap;
  }
  .dog {
    width: 350px;
    height: 250px;
    margin-left: 1rem;
  }
  .left-sec h1 {
    margin-top: 1rem;
    margin-left: 5rem;
    font-size: 3rem;
  }
  .lgo-image img {
    margin-top: 10px;
    margin-left: 50%;
  }
  .lgo-image h2 {
    margin-left: 24%;
  }
}
