@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');
body {
  /* font-family: "Dosis", sans-serif; */
  font-family: 'Titillium Web', sans-serif;
}
.top {
  margin-top: 3rem;
  text-align: center;
}
.top h1{
  /* font-size: 3rem; */
  font-family: 'Titillium Web', sans-serif;
}
.mid {
  position: relative;
}
.mid::before {
  content: "";
  display: block;
  position: relative;
  background-image: url("./Images/Contact/contact.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 10rem;
  opacity: 0.3;
}

.mid h2 {
  font-weight: bold;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* opacity: 0.8; */
  text-align: center;
}
.contactImage{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contactImage div{
  height: 20vw;
  width: 50%;
  color: rgb(43, 26, 3);
  background-color: rgb(200, 245, 243);
  height: max-content;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.contactImage img {
  height: 25vw;
  /* width: 100%; */
  /* margin-left: 45%; */
  image-rendering:optimizeQuality;
}
.middleContainer {
  display: flex;
}
.form {
  margin: 2% 1% 2% 1%;
  width: 50%;
}
.form input{
  margin: 2% 1%;
  border-radius: 10px;
  outline: none;
  border: solid black 1px;
  height: 40px;
  width: 47%;
}
.form select{
  border-radius: 10px;
  width: 97%;
  margin-left: 1%;
  border: solid black 1px;
}
#subject{
  border-radius: 10px;
  width: 97%;
  margin-left: 1%;
  border: solid black 1px;
}
.form textarea{
  border-radius: 10px;
  width: 97%;
  margin-left: 1%;
  border: solid black 1px;
  height: 10rem;
}
#submit{
  cursor: pointer;
  background-color: #32174d;
  color: white;
  font-weight: bold;
}
.contact {
  margin: 2% 1% 2% 10%;
  list-style: none;
white-space: nowrap;
}
.contact ul {
  list-style: none;
}
.contact img {
  margin: 15px 12px 5px 5px;
  width: 22px;
  height: 22px;
  
}
.last{
  display: flex;
}
.last div{
white-space: nowrap;

}
.last img{
  margin: 15px;
  height: 40px;
  width: 40px;
  margin-top: 0%;
}
.last h2 {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  word-spacing: 10px;
}

@media screen and (max-width: 800px) {
  .middleContainer {
    display: block;
  }
  .form{
    width: 90%;
  }
  .contact {
    margin: 2% 1% 2% 1%;
    list-style: none;
  }
  .last{
    display: block;
  }
  .contact {
    width: 90%;
  }
}