.footer {
  padding: 2rem 0rem 4rem 0rem;
  text-align: center;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  border-top: 2px solid;
  background-color: #694b74;
  height: auto;
  width: auto;
}
.footer p{
  margin-bottom: 0%;
  color: white;
}
.footer a{
  color: white;
}
.footer a:hover{
color: white;
}