@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html,body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient( rgba(255,0,0,0), rgb(223, 195, 240));
    background-repeat: no-repeat;
}
.btn{
  background-color: #694b74;
  color: white;
}
label{
  font-size: 22px;
} 
#detail_form{
display: none;
}

.wrapper{
  max-width: 100%;
  border-radius: 5px;
  padding: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px dashed black;
  box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
}
section .row{
  margin-bottom: 10px;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .row i{
  color: #694b74;
  font-size: 80px;
}
section .details span{
  font-size: 23px;
}

.progress-area .row .details{
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.progress-area .row .details .size{
  color: #404040;
  font-size: 20px;
}
.progress-area{
  max-height: 232px;
}
.progress-area .row .content{
  display: flex;
  align-items: center;
}

.dot-pulse {
  position: relative;
  margin-left: 15px;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #694b74;
  color: #694b74;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before, .dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #694b74;
  color: #694b74;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%, 100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

.uploaded-area{
  max-height: 232px;
}
.uploaded-area.onprogress{
  max-height: 150px;
}
.uploaded-area .row .content{
  display: flex;
  align-items: center;
}
.uploaded-area .row .details{
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.uploaded-area .row .details .size{
  color: #404040;
  font-size: 20px;
}
.uploaded-area i.fa-check{
  font-size: 16px;
}
.uploaded-area i.fa-trash-alt{
  font-size: 20px;
  cursor: pointer;
}

/* duration of service dropdowns */
.dd{
  width: 30%;
  height: 36px;
  background-color: white;
  border-width: thin;
  border-radius: 5px;
  border-color: rgb(194, 198, 201);
  color: rgb(100, 102, 104);
}