html,body{
    padding: 0;
    margin: 0;
    background-image: linear-gradient( rgba(255,0,0,0), rgb(223, 195, 240));
    background-repeat: no-repeat;
}
.upload form{
  margin-left: 30%;
}
label{
  font-size: 22px;
} 
.contract{
  text-align: center;
  margin-top: 20%;
}
.upload h2{
  margin-top: 20px;
  margin-left: 45%;
}
.upload input[type=text],[type=password],[type=number],select,input[type=date]{
  width: 25%;
  margin: 8px 0;
  padding: 7px 10px;
  display: inline-block;
  border:1px solid #ccc;
  box-sizing: border-box;
  font-size: 15px;
}

.drag-area {
  height: 200px;
  width: 60%;
  border: 3px dashed #171718;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0px;
  background-color: #e3baf0;
}
.drag-area header{
  font-size: 30px;
}
.drag-area .header {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.drag-area .button {
  font-size: 25px;
  font-weight: 500;
  color: black;
  text-decoration: underline black;
  cursor: pointer;
}

.drag-area.active {
  border: 2px solid #1683ff;
}

.drag-area img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.upload button{
  margin-top: 18px;
    cursor: pointer;
    border: none;
    background: #694b74;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    width: 250px;
    height: 35px;
    margin-left: 20%;
    margin-bottom: 50px;
}
.build button{
    margin-top: 18px;
      cursor: pointer;
      border: none;
      background: #694b74;
      border-radius: 50px;
      font-size: 20px;
      color: white;
      width: 250px;
      height: 35px;
      margin-left: 20%;
      margin-bottom: 50px;
}
button:hover{
  opacity:0.8;
}


