html,body{
    height:98.3%;
     background-image: linear-gradient( rgba(255,0,0,0), rgb(223, 195, 240));
     background-repeat: no-repeat;
   }
   .container{
     margin-top: 30px;
   }
   p{
     font-size: 25px;
       color: red;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
   }
   th,td{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 18px;
   }
   button{
     font-size: 25px !important;
     width: 100%;
     height: 100%;
     color: white;
     background-color: #694b74;
     border: none;
     cursor: pointer;
   }
   #submitbtn{
    width: 15%;
    display: block;
    margin: 0 auto;
   }
   a{
    text-decoration: none !important;
    font-size: 22px;
    color: #694b74 !important;
    display: none;
   }