html,body{
    background-image: linear-gradient( rgba(255,0,0,0), rgb(223, 195, 240));
}
.edit_profile{
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
}
.hidden{
    visibility: hidden;
  }
.scrollbar1{
    max-height:600px;
    overflow-y:auto;
}
.main{
    margin-top:60px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 15px;
    margin-bottom: 1.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
}
.me-2 {
    margin-right: .5rem!important;
}
.line{
    margin: 12px -17px ;
}
label{
    font-size: 25px;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.dropdown{
    margin: 10px 20px 10px;
}
.dropdown button{
   width: 100%;
    height: 40px;
    cursor: pointer;
    margin: auto;
    display: block;
    background: #694b74; 
    border: 0;
    outline: none;
    font-size: 20px;
    color: white !important;
    text-shadow: white  .02em   0     0, white  0       .02em 0,white -.02em   0     0, white  0      -.02em 0;
}
.dropdown a {
    font-size: 18px !important;
    text-shadow: white  .02em 0 0, white 0 .02em 0,white -.02em 0 0, white 0 -.02em 0 !important; 
    }
  .dropdown a:hover{
    background-color: #694b74 !important;
    color: white !important;
  }
  ul.dropdown {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
      background-color:rgb(247, 239, 248);
  }
.card-img{
    width: 100%;
    height: 250px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
}
.btn_profile{
  cursor: pointer;
  border-color: #694b74;
  border: 1;
  border-radius: 50px;
  font-size: 14px;
  color: #694b74;
  background-color: transparent;
  font-weight: 600;
}
.btn_profile:hover{
    background-color: #e9c5f7;
}
.heading img{
    width: 35px;
      border-radius: 50%;
      padding: 8px;
      float: right;
      margin-right: 20px;
      margin-top: -45px;
  }
  .heading img:hover{
    background: #e5e5e5;
    cursor: pointer; 
  }
.heading h6{
color:rgba(71, 70, 70, 0.9);
  font-size: 20px;
  font-family:cursive;
  font-weight:400 ;
  font-style:normal ;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.btn_save{
    float: right;
  margin-right: 30px;
  cursor: pointer;
  border: none;
  background: #694b74;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  width: 70px;
  font-weight: 600;
}

.profile_pic_div{
 
  width: 200px;
  height: 200px;
  margin-top:-18%;
  border-radius: 50%;
  overflow: hidden;
  border:1px solid grey;

}
#photo{
  height: 100%;
  width:100%;
}
#file{
  display: none;
}
#uploadbtn{
  height: 40px;
  width: 100%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  line-height: 30px;
  font-size: 14px;
  color: wheat;
  font-weight: 100;
  text-align: center;
  margin-top: -20%;
  margin-left: 50%;
  cursor: pointer;
  display: none;
}
/* rating */
.rate {
    height: 30px;
    float: left;

  }
  .rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
  }
  .rate:not(:checked) > label {
    float:right;
    overflow:hidden;
    cursor:pointer;
    font-size:22px;
    margin: 0%;
    color:rgb(181, 176, 182);
  }
  
  .rate > input:checked ~ label {
    color: #694b74;    
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
    color: #9f75b6;  
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
    color: #db8de6;
  }
.overlay{
    position: fixed;
      top: 0%;
      z-index: 0;
      height: 100vh;
      width: 100vw;
      background-color: rgba(0,0,0,.75);
  }
