/* header user profile & user dropdown */

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient( rgba(255,0,0,0), rgb(223, 195, 240));
  
}
html{
    font-size: 62.5%;
    
}
.global-nav{
    background-color:  #212529!important;
    height:55px ;
    padding: 0 2.4rem;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 0.1rem solid #171c24;
}
.global-nav_content{
    display: flex;
    width: 1128px;
    margin: 0 auto;
    align-items: center;
    min-height: 100%;
}
.global-nav_top-left-part{
    flex-basis: 40%;
    display: flex;
    margin:1rem 0;
    justify-content: flex-start;
}
.global-nav_top-right-part{
    flex-basis: 60%;
}
.search-global{
    flex: 1;
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
    position: relative;
}
.search-global_input{
    width: 100%;
    border: none;
    padding: 0 8px 0 28px;
    line-height: 1.75;
    color: #283e4abf;
    font-size: 14px;
    border-radius: 0.25rem;
    height: 34px;
    outline: none;
}
.search-global_icon-container{
    position: absolute;
    left: 0.4rem;
    top: 0.9rem;
}
.search-global_icon{
    fill: rgba(0, 0, 0, 0.6);
}
ul.global-nav_items{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}
.global-nav_item{
    display: flex;
    align-items: center;
}
.global-nav_primary-link{
display: flex;
align-items: center;
flex-direction: column;
background-color: transparent;
color: white;
font-size: 1.2rem;
font-weight: 400;
line-height: 1.5;
min-height: 52px;
min-width: 80px;
text-decoration: none;
}
.global-nav_item img{
    padding-top: 3px;
    width: 25px;
    height: 25px;
    color: white;
}
.global-nav_primary-link-text{
    display: flex;
    align-items: end;
    color: white;
}
.global-nav_primary-link-text img{
width: 15px;
height: 7px;
margin-bottom: 5px;
}
.global-nav_primary-link--btn{
border: none;
background-color: none;
padding: 0;
cursor: pointer;
}
.global-nav_me-photo{
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}
.global-nav_primary-link--hover:hover{
    color: rgb(119, 119, 124);
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    visibility: hidden;
    opacity: 0;
    margin-right: 10%;
}
.sub-menu{
    background: rgb(248, 248, 248);
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
}
.sub-menu-wrap.active{
    visibility: visible;
    opacity: 1;
}
  
.user-info{
    display: flex;
    align-items: center;
}
.user-info h2{
  font-weight: 500;
    color: black;
    margin-left: 10%;
}
.user-info img{
    width: 50px;
    border-radius: 50%;
}
.sub-menu  hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:#525252;
    margin:12px 0;
    cursor: pointer;
}
.sub-menu-link p{
    width: 100%;
    font-size: 15px;
}
.sub-menu-link img{
    width: 35px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.sub-menu-link span{
  font-size: 19px;
  transition: transform 0.5s;
}
.sub-menu-link:hover span{
  transform: translateX(5px);
}
.sub-menu-link:hover p{
  font-weight: 600;
}
