/* user profile main page */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
    box-sizing: border-box;
   
   
}
.btnshow{
    position: absolute;
    width: 40%;
    height: 70%;
    border-radius: 15px;
    display: block;
    margin-top: 140px;
    margin-left: 350px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
}
.basic_info a{
  position: absolute;
  top: 28%;
  left: 2%;
}
.bg{
  width: 100%;
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  cursor: pointer;
}
.profile-pic-div{
  height: 150px;
  width: 150px;
  position: absolute;
  top: 25%;
  left: 15%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid grey;
}
#file{
    display: none;
}
#photo{
    height: 100%;
    width: 100%;
}
#uploadBtn{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    color: wheat;
    cursor: pointer;
    display: none;
}
.fragment2{
  position: absolute;
    width: 50%;
    height: auto;
    left: 105%;
    top:0%;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}
.fragment2 hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 16px 0;
}
.fragment2 label{
 margin-left: 50px;
   padding-top: 22px;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.fragment2 button{
  width: 65%;
  height: 40px;
  cursor: pointer;
  margin: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #694b74; 
  border: 0;
  outline: none;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  text-shadow: white  .02em   0     0, white  0       .02em 0,white -.02em   0     0, white  0      -.02em 0; 
}
.fragment3{
  position: absolute;
  width: 50%;
  height: auto;
  left: 105%;
  top: 40%;
  margin-top: 80px;
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
.fragment3 hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 16px 0;
}
.fragment3 label{
 margin-left: 50px;
   padding-top: 22px;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.fragment3 button{
  width: 65%;
  height: 40px;
  cursor: pointer;
  margin: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #694b74;
  /* background: linear-gradient(to right, #36d1dc, #5b86e5); */
  border: 0;
  outline: none;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  text-shadow: white  .02em   0     0, white  0       .02em 0,white -.02em   0     0, white  0      -.02em 0; 
}


.basic button{
  margin: 20px;
  width: 22%;
  height: 30px;
  cursor: pointer;
  border-color: #694b74;
  border: 1;
  border-radius: 50px;
  font-size: 14px;
  color: #694b74;
  background-color: transparent;
  font-weight: 600;
  grid-column: 1/3;
}
.basic button:hover{
  background-color: #e9c5f7;
}
.basic p{
  font-size: 22px;
  margin-top: 62px;
  margin-left: 30px;
  font-weight: 600;
  color: rgb(104, 103, 103);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.basic label{
  font-size: 20px;
  margin-left: 20px;
  margin-top: 5%;
  color: rgb(82, 80, 80);
}

.userdata{
   position: absolute;
    width: 100%;
    height: 120%;
    border-radius: 15px;
    display: block;
    top: -8%;
    left: 35%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    z-index: 999;
}
.formdata{
 width: 100%;
 height: 83%;
 overflow-x: 100%;
 overflow-y: auto;

}
.radio label{
  display: inline-flex;
  margin-right: 10%;
}
.radio input{
  margin-left: 10px;
}
label {
  margin:2px 30px;
  display: block;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}
.userdata input{
 height: 30px;
  margin:0px  30px 15px;
  width: 90%;
  border: 1px solid grey;
  box-shadow: inset 0 3px 3px 0 rgba(#000, 0.15);
  padding: 0.5em;
  font-size: 16px;
  border-radius: 5px;
}
.hidden{
  visibility: hidden;
}
textarea{
  font-size: 20px;
  width: 30%;
  height: 10%;
  margin-left: 30px;
  margin-bottom: 15px;
}
select{
  width: 90%;
  height: 30px;
  border: 1px solid ;
  box-shadow: inset 0 3px 3px 0 rgba(#000, 0.15);
  margin-left: 30px;
  margin-bottom: 15px;
  font-size: 16px;
  background-color: white;
  border-radius: 5px;
}

.heading{
  border-bottom-color:rgba (0,0,0,0.08);
  border-bottom:1px solid rgba(0,0,0,.15);
  display:block;
}
.heading img{
  width: 35px;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
    float: right;
    margin-right: 20px;
}
.heading img:hover{
  background: #e5e5e5;
  cursor: pointer; 
}

.ep_bottom{
  border-bottom-color:rgba (0,0,0,0.08);
  border-bottom:1px solid rgba(0,0,0,.15);
  display:block;
}
.ep_bottom button{
  float: right;
  margin-top: 18px;
  margin-right: 30px;
  cursor: pointer;
  border: none;
  background: #694b74;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  width: 70px;
  height: 35px;
  justify-content: center;
  font-weight: 600;
  

}
.heading h2{
  color:rgba(71, 70, 70, 0.9);
  font-size: 20px;
  font-family:cursive;
  font-weight:400 ;
  font-style:normal ;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* rating */
.rate {
  height: 30px;
  position: absolute;
  top: 49%;
  left: 2%;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  overflow:hidden;
  cursor:pointer;
  font-size:30px;
  margin: 0%;
  color:rgb(181, 176, 182);
}

.rate > input:checked ~ label {
  color: #694b74;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #9f75b6;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #db8de6;
}
#rank{
  font-size: 14px; 
  color:rgb(104, 101, 101);
  top: 10%;
}

.overlay{
  position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.75);
}



