body {
  position: relative;
  overflow-x: hidden;
}
.col-10 {
  text-align: center;
}
.list-group-item {
 
  border: 0px !important;
}
.list-group a {
  background-color: blue;
  color: white;
}

#list-tab a {
  text-decoration: underline;
}
.list-group {
  text-align: left;
  position: fixed;
  padding-top: 5%;
  background-color: blue;
  padding-bottom: 17%;
  width: 15%;
}
#post {
  border: solid black 2px;
  border-radius: 20px;
  margin-top: 2vh;
  padding-left: 2vw;
  text-align: start;
  width: 40%;
  resize: none;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.postbutton {
  display: block;
  margin-right: auto;
}
.postbutton button {
  padding: 0% 5%;
}
.navbar {
  position: sticky !important;
  top: 0;
  z-index: 1;
}
