@charset "utf-8";
/* CSS Document */
 
html,body{
	position:relative;
	height:100%;
}
	body{
		margin:0px;
		padding:0px;
		background-color:rgba(241,241,241,1.00);
	}
        .swiper-container{
            background-color: white;
            height: 225px;
            width:auto;
        }
		.swiper-wrapper{
			display:flex;
			margin:0 auto;
            justify-content: space-between;
            width: 94%;
			
		}
		.swiper-slide{
			width:180px !important;
			 }
		
		.slider-box{
            padding: 0px;
			height:221px;
			width:150px;
			position:relative;
			background-color:#FFFFFF;
			border-radius:5px;
			display:flex;
			flex-direction:column;
			justify-content:center;
			align-items:center;
			text-align:center;
			}
				.img-box{
					height:50px;
					}
					.img-box img{
						height:auto;
						max-width:100%;
						max-height:100%;}
							.detail{
								display:flex;
								flex-direction:column;
								align-items:center;
								box-sizing:border-box;
								font-size:15px;
								line-height:35px;}

											 .slider-box:hover{
                                                cursor: pointer;
												 box-shadow:1px 1px 10px rgba(143, 141, 141, 0.4);
                                                 border-radius: 10px;
                                                 
												 }
												 .slider-box:hover .img-box img{
													 transform:scale(1.07);
													 transition:all ease 0.3s;}

							.heading{
								display:flex;
								margin:0 auto;
                                justify-content: space-between;
                                width: 94%;
								
							}
							.heading h3{
								font-weight: 700;
								text-shadow:2px 2px 12px rgba(69,66,66,0.3);
								
								color: #212121;;
								font-size:18px;
								margin-top: 1.5%;
								}
                                .heading button{
                                    margin-top: 1%;
									margin-bottom: 1%;
                                   height: 1.7rem;
                                   font-weight: 700;
                                    font-size: .80rem;
                                    padding: 5px 10px;
                                    color: white;
                                    border: none;
                                    background-color: rgb(161, 105, 168);
                                    cursor: pointer;
                                }

@media screen and (min-width: 768px){
.heading {
    max-width: 1280px;
}

.swiper-wrapper {
    max-width: 1280px;
    
}
}

